:root {
	/* Colors */
	--accent: #d69095;
	--background: #FAF9F8;
	--lightAccent: #c4c4c4;
	--lighterAccent: #E6E8E4;
	--dark: #393939;
	--darker: #202123;
	--slate: #2F3948;

	--white: #fff;
	--black: #101317;

	--ink: var(--slate);
	--paper: var(--background);

	/**
	 * These fonts are broken out into two separate variables from a previous iteration. I left
	 * it in because it's nice to be able to split out the heading and body fonts.
	 */
	--accentFont: monospace, Georgia, Times, serif;
	--primaryFont: monospace, sans-serif;
	--codeFont: 'Fira Code', monospace;
}
